/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }
   body {
   	line-height: 1;
   }
   ol, ul {
   	list-style: none;
   }
   blockquote, q {
   	quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
   	content: '';
   	content: none;
   }
   table {
   	border-collapse: collapse;
   	border-spacing: 0;
   }



   /* General Styling */

   body{
   	background:#00a2ff;
   	font-family:'Titillium Web',sans-serif;
   	font-size:13px;
   	color:white;
   }

   a, a:link, a:hover, a:visited, a:active{
   	text-decoration: none;
   }

   a:hover{
   	color:inherit;
   }

   h1,h2,h3,h4{
   	font-weight: bold;
   }
   h1{
   	font-size:30px;
   }
   h2{
   	font-size:25px;
   }

   .wrapper{
   	position:relative;
   }

   .wrapper-light{
   	background-image: -webkit-linear-gradient(top, #0082cd, #00a2ff);
   	background-image: -moz-linear-gradient(top, #0082cd, #00a2ff);
   	background-image: -o-linear-gradient(top, #0082cd, #00a2ff);
   	background-image: linear-gradient(to bottom, #0082cd, #00a2ff);
   	padding:50px 0 250px 0;
   	position: relative;
   }
   .wrapper-visual{
   	background: url('../img/intro_visual.png') center bottom no-repeat;
   	background-size:960px;
   	width:960px;
   	height:418px;
   }
   .wrapper-absolute{
   	left:0;
   	position: absolute;
   	bottom:0;
   	width:100%;
   	pointer-events:none;
   }
   .wrapper-medium{
   	background:#003c5e;
   	padding:60px 0;
   }
   .wrapper-dark{
   	background:#002e48;
      padding:60px 0;
   }
   .wrapper-footer{
      background:#002235;
      padding:30px 0;
   }

   /* Header */

   .main-navigation ul{
      float:right;
   }
   .main-navigation ul li{
      display: inline-block;
      margin-left:20px;
   }
   .main-navigation ul li a {
      color:#fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size:11px;
      display: inline-block;
   }
   .main-navigation ul li a.ticket-link{
      background:#003c5e;
      padding:5px 7px;
      line-height:1;
      color:white;
      border-radius:5px;
   }


   /* Intro */

   .event-hero{
   	width:330px;
   	margin:150px auto 0 auto;
   	text-align: center;
   }
   .event-hero h1{
   	color:#003c5e;
   	font-size:67px;
   	text-transform: uppercase;
   }
   .event-hero-top p{
   	font-size:16px;
   	text-transform: uppercase;
   }
   .event-hero-left{
   	float: left;
   }
   .event-hero-right{
   	float: right;
   }
   .event-hero-bottom{

   }
   .event-hero-signup{
   	color:white;
   	line-height:45px;
   	margin:20px auto 0 auto;
   	display: block;
   	font-size: 17px;
   	width:200px;
   	text-transform: uppercase;
   	height: 45px;
   	background-color: #e24392;
   	-webkit-box-shadow: 4px 6px rgba(0,60,94,.75);
   	-moz-box-shadow: 4px 6px rgba(0,60,94,.75);
   	box-shadow: 4px 6px rgba(0,60,94,.75);
   }
   .canvas-left{
   	position: relative;
   	top:25px;
   }
   .chart-bubble{
   	background:#003c5e;
   	width:60px;
   	height:25px;
   	text-align: center;
   	line-height: 25px;
   	position: absolute;
   }

   .chart-bubble-pink{
   	background:#e24392;
   }

   #bubble1{
   	left: 70px;
   	top: -21px;
   }
   #bubble2{
   	left: 268px;
   	top: 84px;
   }

   #bubble3{
   	left: 466px;
   	top: 64px;
   }

   .chart-bubble::after {
   	content: '';
   	display: block;
   	width: 0;
   	height: 0;
   	border-left: 5px solid transparent;
   	border-right: 5px solid transparent;
   	
   	border-top: 5px solid #003c5e;
   	position: absolute;
   	left: 50%;
   	margin-left: -5px;
   }
   .chart-bubble-pink::after {
   	content: '';
   	display: block;
   	width: 0;
   	height: 0;
   	border-left: 5px solid transparent;
   	border-right: 5px solid transparent;
   	
   	border-top: 5px solid #e24392;
   	position: absolute;
   	left: 50%;
   	margin-left: -5px;
   }

   .canvas-container {
   	height: 250px;
   }
   .chart-bars{
   	position: absolute;
   	bottom:0;
   	right:0;
   }
   .chart-bar{
   	height:280px;
   	width:30px;
   	background:#008ada;
   	position: relative;
   	margin-right:15px;
   	float:left;
   }
   .chart-fill{
   	position:absolute;
   	bottom:0;
   	width:30px;
   	background:#003c5e;
   	text-align: center;
   	padding-top:10px;
   	-webkit-transition: all 1500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   	-moz-transition: all 1500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   	-o-transition: all 1500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   	transition: all 1500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */

   	-webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   	-moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   	-o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   	transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
   }
   .chart-bar:nth-child(1) .chart-fill{
   	height:200px;
   }
   .chart-bar:nth-child(2) .chart-fill{
   	height:150px;
   }
   .chart-bar:nth-child(3) .chart-fill{
   	height:130px;
   }
   .chart-bar:nth-child(4) .chart-fill{
   	height:80px;
   }
   .chart-bar:nth-child(5) .chart-fill{
   	height:40px;
   }
   .chart-fill-pink{
   	background: #e24392;
   }
   .chart-fill-inactive{
   	height:40px!important;
   }

   /* Info */
   .tagline{
   	text-transform: uppercase;
   }
   .tagline-label{
   	font-size:21px;
   	font-weight:500;
   	display: block;
   	margin-bottom: 10px;
   }
   .tagline-text{
   	font-size:60px;
   }
   .blockquote{
   	background:#002e48;
   	padding:30px;
   	font-weight: 100;
   	line-height: 1.3;
   	font-style: italic;
   	font-size:24px;
   	margin-bottom: 40px;
   }
   .blockquote-left::before{
   	content:'';
   	display: block;
   	width: 0; 
   	height: 0; 
   	border-bottom: 20px solid transparent;
   	border-right: 20px solid #002e48;
   	position: absolute;
   	top: 0;
   	left: -5px;
   }
   .light-blue{
   	color:#00a2ff;
   }
   .info-text {
   	line-height: 1.7;
   	font-weight: 100;
   }

   /* Sponsors */

   .powered {
      text-align: center;
   }
   .sponsor-image{
      display: inline-block;
      width:120px;
      height:120px;
      border-radius:100%;
      background: #ffffff;
      display: table-cell;
      vertical-align: middle;
   }
   .sponsor-powered {
      margin: 20px auto;
      width: 120px;
   }


   /* Footer */

   .copyright, .organized{
      color:#215b7c;
   }
   .copyright{
      text-align: right;
   }
   .organized{
      text-align: left;
   }
   .local{
      text-align: center;
   }
   .fa-heart{
      color:red;
      margin:0 5px;
   }


   /* Liffect */

   ul[data-liffect="slideBottom"] li {
   	opacity: 0;
   	-webkit-animation: slideBottom 300ms ease both;
   	-webkit-animation-play-state: paused;
   	-moz-animation: slideBottom 300ms ease both;
   	-moz-animation-play-state: paused;
   	-o-animation: slideBottom 300ms ease both;
   	-o-animation-play-state: paused;
   	animation: slideBottom 300ms ease both;
   	animation-play-state: paused;
   }

   ul[data-liffect="slideBottom"].play li {
   	-webkit-animation-play-state: running;
   	-moz-animation-play-state: running;
   	-o-animation-play-state: running;
   	animation-play-state: running;
   }

   @-webkit-keyframes slideBottom {
   	0% { opacity: 0; -webkit-transform:translate3d(0,30px,0); }
   	100% { opacity: 1; -webkit-transform:translate3d(0,0,0); }
   }

   @-moz-keyframes slideBottom {
   	0% { opacity: 0; -moz-transform:translate3d(0,30px,0); }
   	100% { opacity: 1; -moz-transform:translate3d(0,0,0); }
   }

   @-o-keyframes slideBottom {
   	0% { opacity: 0; -o-transform:translate3d(0,30px,0); }
   	100% { opacity: 1; -o-transform:translate3d(0,0,0); }
   }

   @keyframes slideBottom {
   	0% { opacity: 0; transform:translate3d(0,30px,0); }
   	100% { opacity: 1; transform:translate3d(0,0,0); }
   }

   /* Media Queries */

   @media (min-width: 1200px){
   	.container {
   		max-width: 970px;
   	}
   }
